@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@theme {
	--color-primary: #ff4987;
	--color-primary-light: #ff6ba0;
	--color-primary-dark: #e6306f;
	--color-secondary: #7a53f0;
	--color-secondary-dark: #5f3dc4;
}

* {
	font-family: 'Titan One', sans-serif;
	font-weight: 400;
	font-style: normal;
}
